{% load static %}
<!doctype html>
<html lang="es">

<head>
	<title>BilioTec</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="author" content="">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'icomoon/icomoon.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/vendor.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

	<title>{% block title %}BilioTec{% endblock %}</title>
</head>

<body data-bs-spy="scroll" data-bs-target="#header" tabindex="0">

	<div id="header-wrap">

		<div class="top-content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<div class="social-links">
							<ul class="list-unstyled">
								<li><a href="https://www.facebook.com"><i class="icon icon-facebook"></i></a></li>
								<li><a href="https://www.twitter.com"><i class="icon icon-twitter"></i></a></li>
								<li><a href="https://www.youtube.com"><i class="icon icon-youtube-play"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 text-end">
						<div class="auth-links">
							<p class="lead">
								{% if user.is_authenticated %}
									<form action="{% url 'logout' %}" method="post" class="d-inline">
										{% csrf_token %}
										<button type="submit" class="btn btn-link">Cerrar sesión</button>
									</form>
								{% else %}
									<a href="{% url 'login' %}" class="btn btn-link">Iniciar sesión</a>
								{% endif %}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<header id="header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-2">
						<div class="main-logo">
							<a href="/dash_usuario"><img src="{% static 'images/main-logo.png' %}" alt="logo" style="width: 90px;"></a>
						</div>
					</div>

					<div class="col-md-10">
						<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
							<div class="stellarnav main-menu">
								<ul class="menu-list list-unstyled">
									<li class="menu-item active"><a class="nav-link" href="/dash_usuario">Inicio</a></li>
									<li class="menu-item"><a class="nav-link" href="/profile_users">Perfil</a></li>
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" id="projectsDropdown" role="button"
											data-bs-toggle="dropdown" aria-expanded="false">Sobre Nosotros</a>
										<ul class="dropdown-menu" aria-labelledby="projectsDropdown">
											<li><a class="dropdown-item" href="{% url 'dash_usuario' %}#historia_users">Historia</a></li>
											<li><a class="dropdown-item" href="{% url 'dash_usuario' %}#mision_users">Misión</a></li>
											<li><a class="dropdown-item" href="{% url 'dash_usuario' %}#vision_users">Visión</a></li>
											<li><a class="dropdown-item" href="{% url 'dash_usuario' %}#valores_users">Valores</a></li>
											<li><a class="dropdown-item" href="{% url 'dash_usuario' %}#objetivos_users">Objetivos</a></li>
											<li><a class="dropdown-item" href="{% url 'dash_usuario' %}#gracias_users">Gracias</a></li>
										</ul>
									</li>
									<li class="menu-item"><a class="nav-link" href="/libros_users">Libros</a></li>
									<li class="menu-item"><a class="nav-link" href="{% url 'mis_prestamos' %}">Prestamos</a></li>
									<li class="menu-item"><a class="nav-link" href="/contacto_users">Contacto</a></li>
								</ul>

								<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
									data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
									aria-label="Toggle navigation">
									<span class="navbar-toggler-icon"></span>
								</button>
							</div>
						</nav>
					</div>

				</div>
			</div>
		</header>

	</div>

	{% block content %}{% endblock %}

	<footer style="background-color: #333; color: #fff; padding: 40px 0;">
		<div style="max-width: 1200px; margin: 0 auto; display: flex; flex-wrap: wrap; justify-content: space-between;">
			<div style="flex: 1; margin-right: 30px;">
				<a href="/dash_usuario"><img src="{% static 'images/main-logo.png' %}" alt="logo" style="width: 80px;"></a>
				<p>Bienvenido a nuestra plataforma. Ofrecemos los mejores recursos y servicios para que puedas aprender, crecer y conectarte con lo que te apasiona. ¡Explora nuestras opciones y descubre más!</p>
			</div>
	
	
			<div style="flex: 1; margin-right: 30px;">
				<h5 style="color: #f39c12; margin-bottom: 15px;">Sobre Nosotros</h5>
				<ul style="list-style: none; padding: 0;">
					<li><a href="/#historia" style="color: #fff; text-decoration: none; margin-bottom: 8px; display: block;">Historia</a></li>
					<li><a href="/#mision" style="color: #fff; text-decoration: none; margin-bottom: 8px; display: block;">Misión</a></li>
					<li><a href="/#vision" style="color: #fff; text-decoration: none; margin-bottom: 8px; display: block;">Visión</a></li>
					<li><a href="/#valores" style="color: #fff; text-decoration: none; margin-bottom: 8px; display: block;">Valores</a></li>
					<li><a href="/#objetivos" style="color: #fff; text-decoration: none; margin-bottom: 8px; display: block;">Objetivos</a></li>
					<li><a href="/#gracias" style="color: #fff; text-decoration: none; margin-bottom: 8px; display: block;">Gracias</a></li>
				</ul>
			</div>
	
			<div style="flex: 1; margin-right: 30px;">
				<h5 style="color: #f39c12; margin-bottom: 15px;">Descubre</h5>
				<ul style="list-style: none; padding: 0;">
					<li><a href="/dash_usuario" style="color: #fff; text-decoration: none; margin-bottom: 8px; display: block;">Inicio</a></li>
					<li><a href="/libros_users" style="color: #fff; text-decoration: none; margin-bottom: 8px; display: block;">Libros</a></li>
					<li><a href="{% url 'politica_priv' %}" style="color: #fff; text-decoration: none; margin-bottom: 8px; display: block;">Política de privacidad</a></li>
					<li><a href="{% url 'termns' %}" style="color: #fff; text-decoration: none; margin-bottom: 8px; display: block;">Términos y condiciones</a></li>
				</ul>
			</div>
	
			<div style="flex: 1; margin-right: 30px;">
				<h5 style="color: #f39c12; margin-bottom: 15px;">Mi Cuenta</h5>
				<ul style="list-style: none; padding: 0;"> 
					<li><a href="/profile_users" style="color: #fff; text-decoration: none; margin-bottom: 8px; display: block;">Mi Perfil</a></li>
				</ul>	
							{% if user.is_authenticated %}
								<form action="{% url 'logout' %}" method="post" class="d-inline" style="color: #fff; text-decoration: none; margin-bottom: 8px; display: block;">
									{% csrf_token %}
									<button type="submit" style="color: #fff; text-decoration: none; margin-bottom: 8px; display: block;">Cerrar sesión</button>
								</form>
							{% else %}
								<a href="{% url 'login' %}" style="color: #fff; text-decoration: none; margin-bottom: 8px; display: block;">Iniciar sesión</a>
							{% endif %}
		
			</div>
			
	
			<div style="flex: 1;">
				<h5 style="color: #f39c12; margin-bottom: 15px;">Síguenos</h5>
				<ul style="list-style: none; padding: 0;">
					<li><a href="https://www.facebook.com" style="color: #fff; text-decoration: none; margin-bottom: 8px; display: block;">Facebook</a></li>
					<li><a href="https://www.twitter.com" style="color: #fff; text-decoration: none; margin-bottom: 8px; display: block;">Twitter</a></li>
					<li><a href="https://www.youtube.com" style="color: #fff; text-decoration: none; margin-bottom: 8px; display: block;">YouTube</a></li>
					<li><a href="https://www.instagram.com" style="color: #fff; text-decoration: none; margin-bottom: 8px; display: block;">Instagram</a></li>
				</ul>
			</div>
		</div>
	
		<div style="text-align: center; padding: 20px 0; background-color: #222;">
			<p style="color: #aaa; font-size: 14px;">&copy; 2024 BiblioTec. Todos los derechos reservados.</p>
		</div>
	</footer>
	

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
		crossorigin="anonymous"></script>
	<script src="{% static 'js/vendor/modernizr.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-JrcwhQ1G2q9wT5I2bGvTkG+vDlmTe60y40ntTYBrN9r3smMZcp5CkAfBrt4kwuV0z"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-wmPpOSfmo4fgDFwVGEcOGfgjlIH9ckOt0qF+Uu06/WGVcFfv3Eotbf0tczC9mNhJ"
	crossorigin="anonymous"></script>

<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

<script type="text/javascript" src="{% static 'js/stellar.js' %}"></script>
<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" ...></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" ...></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"
        integrity="sha384-oBqDVmMz5Oa2tbBclwx4xzXQRSI6xRjL7FYI9LPrT3l9rD6u1lx+m8KfDAhUgTXa" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4GlTc19l5aOZfTx7th5rYW9fVeQGF9dJRUowWMT2ftUsD0lAMZR0aZan" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-OgTAl/QZPR66lt+M3AQIqEnBHOIu94jGxZ9qltp4o17dUtdRXCCyN+f9+Z3AfV8e" crossorigin="anonymous"></script>
	
</body>

</html>
