{% extends "base_jefe.html" %}
{% load static %}

{% block content %}

    <header class="bg-dark text-white text-center py-5">
        <div class="container">
            <h1 class="text-uppercase">Mi Perfil</h1>
            <p class="lead">Bienvenido a tu perfil, {{ request.user.username }}.</p>
        </div>
    </header>

    <section class="py-5">
        <div class="container text-center">

            <h3>Información Personal</h3>
            <ul class="list-unstyled">
                <li>Nombre de usuario: {{ request.user.username }}</li>
                <li>Email: {{ request.user.email }}</li>
            </ul>
            <a class="btn btn-primary" href="{% url 'settings_jefe'%}">Modificar Configuración</a>
        </div>
    </section>

{% endblock %}
